html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("../public/calculator.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}