html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

#root {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../public/calculator.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}